.sectionLook {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding:  0 40px;
    display: flex;
    mix-blend-mode: inherit;
}

.sectionLook {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/gif/lookbook.gif') center center / cover no-repeat;
}

.Look {
    max-width: 100%;
    width: 600px;
    height: auto;
    color: #F1F1F1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 12px;
}

.titleLook {
    font-family: 'gill-sans-nova', Impact, sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 44px;
}

.textLook {
    font-family: 'acumin-pro-wide';
    text-transform: uppercase;
    word-spacing: 5px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

.galleryTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
}

.title {
    font-family: 'acumin-pro';
    font-style: normal;
    font-weight: 950;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #1F1F1F;
}

.gallery {
    padding: 30px 15px;
}

.gallerySwiper {
width: 100%;
}

.galleryThumbsMobile {
    display: none;
}




@media (min-width: 425px) and (max-width: 1920px) {
    .galleryImages {
        width: 75% !important;
        height: 80vh !important;
    }
  
    .galleryImages span {
        transform: translate(-50%, -50%) !important;
        top: 50% !important;
        left: 50% !important;
    }

    .video {
        width: 500px;
        height: 100%;
        margin: auto;
    }
  }


@media (max-width: 425px) {


    .sectionLook {
        padding: 0 20px;
    }

    .titleLook {
        font-size: 28px;
        line-height: 36px;
    }

    .textLook {
        font-size: 18px;
        line-height: 24px;
    }

    .galleryThumbsDesktop {
        display: none;
    }

    .galleryThumbsMobile {
        display: block;
    }
}