.navBar {
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    background-color: #1f1f1f;;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    color: #F87C3D;
    z-index: 5;

}

.navBarLinks {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

.navBarLinks li {
    font-size: 1rem;
    line-height: 1.75rem;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}

.navBarLinks li:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F87C3D;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .navBarLinks li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .basketNumber {
    height: 18px;
    width: 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 99999px;
    background-color: #f87c3d;
    top: -15%;
    position: absolute;
    right: -1.33%;
    max-width: 100%;
  }

  .number {
    font-size: 12px;
    font-weight: 600;
    color: #1f1f1f;
    font-family: 'gill-sans-nova';

  }

  @media (max-width: 425px) {

    .basketNumber {
      right: -5% !important;
      top: -15%;
      position: absolute;
    }
  }