/*TAILWIND IMPORTS*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*FONTS*/
@import './fonts.css';

* {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  box-sizing: border-box;
}

/*GENERAL*/

html,
body {
  padding: 0;
  margin: 0;
}

/*SCROLLBAR*/
body::-webkit-scrollbar{
  width: 0.5rem;
  background: #222222;
}

body::-webkit-scrollbar-thumb{
background: #F87C3D;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "acumin-pro-wide",sans-serif;
  font-weight: 700; 
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
}

button {
  width: auto;
  font-size: 1.5rem;
  font-family: "acumin-pro-semi-condensed", sans-serif;
  font-weight:700;
  text-transform: uppercase;
  border: 4px solid;
  padding: 0.25rem 2rem;
  text-align: center;
}


@media (min-width: 1920px) {
  body{
    max-width: 50%;
    margin: auto;
  }
}


.navLogo, .cart {
  cursor: pointer;
}

h1 {
/* font-family: "acumin-pro-condensed", sans-serif;
font-weight: 700; */
font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  font-family: "Impact",sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-family: "acumin-pro-wide",sans-serif;
  font-weight: 400;
  font-style: normal;
}

li {
  opacity: 0.90;
}

li:hover {
  opacity: 1;
}



.categories {
  font-family: "acumin-pro",sans-serif;
  font-weight: 700;
}

.member1 {
background-image: url('/img/Member1.jpg');
}

.member2 {
background-image: url('/img/Member2.jpg');
}

.member3 {
background-image: url('/img/Member3.jpg');

}

.member4{
background-image: url('/img/Member4.jpg');
}

.return, .delivery {
  display: inline-flex;
  column-gap: 5%;
  justify-content: flex-start;
  padding: 5px;
}

/* MENU DROPDOWN */
.menu {
  visibility: hidden;
  transform: translateY(-20px);
  opacity: 0;
  position: absolute;
  top: 100%;
  left: -5%;
  width: 300px;
  background: #1F1F1F;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu li a {
  text-decoration: none;
  padding: 15px 20px;
  display: block;
}

.menu-trigger {
  background-color: #1F1F1F;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 15px;
  vertical-align: middle;
}

.menu-trigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.size {
  display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 15px;
}

.size button {
  width: 55px;
    height: 55px;
    font-size: 1.25rem;
    text-transform: uppercase;
    border-radius: 50px 50px;
    color: #F87C3D;
    background-color: #1F1F1F;
    border: 3.5px solid #F87C3D;
    text-align: center;
    padding: 0;
}

.size button:hover {
  color: #1F1F1F;
  background-color: #F87C3D;
}