@tailwind base;
@tailwind components;
@tailwind utilities;
@import './acumin.css';

* {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "acumin-pro",sans-serif;;
  font-display: swap;
}

body::-webkit-scrollbar{
  width: 0.5rem;
  background: #222222;
}

body::-webkit-scrollbar-thumb{
background: #F87C3D;

}


@media (min-width: 1920px) {
  body{
    max-width: 50%;
    margin: auto;
  }
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "acumin-pro-wide",sans-serif;
  font-weight: 700;
}

button {
  width: auto;
  font-size: 1.5rem;
  font-family: "acumin-pro-semi-condensed", sans-serif;
  font-weight:700;
  text-transform: uppercase;
  border: 4px solid;
  padding: 0.25rem 2rem;
  text-align: center;
}

.navLogo, .cart {
  cursor: pointer;
}

h1 {
font-family: "acumin-pro-condensed", sans-serif;
font-weight: 700;
}

h2 {
  font-family: "acumin-pro-wide",sans-serif;
  font-weight: 400;
  font-style: normal;
}

li {
  opacity: 0.90;
}

li:hover {
  opacity: 1;
}



.categories {
  font-family: "acumin-pro",sans-serif;
  font-weight: 700;
}

.member1 {
background-image: url('/img/Member1.jpg');
}

.member2 {
background-image: url('/img/Member2.jpg');
}

.member3 {
background-image: url('/img/Member3.jpg');

}

.member4{
background-image: url('/img/Member4.jpg');
}

