/*TAILWIND IMPORTS*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*FONTS*/
@import './fonts.css';

* {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  box-sizing: border-box;
}

/*GENERAL*/

html,
body {
  padding: 0;
  margin: 0;
}


/*SCROLLBAR*/
body::-webkit-scrollbar{
  width: 0.5rem;
  background: #1F1F1F;
}

body::-webkit-scrollbar-thumb{
background: #F87C3D;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "acumin-pro-wide",sans-serif;
  font-weight: 700; 
}

.logo {
  width: 40px;
  height: 40px;

}

.logo .cls-1, .logo .cls-2 {
  fill: #F87C3D;
  border: none;
}


main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section {
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  position: relative;
}

button {
  width: 100%;
  min-width: 160px;
  max-width: 160px;
  border: 3.6667px #F87C3D solid;
  border-radius: 99999px;
  background-color: #1F1F1F;
  color: #F87C3D;
  height: 40px;
  margin-top: 10px;
  pointer-events: auto;
	cursor: pointer;
}

button span {
  font-family: 'acumin-pro';
  font-weight: 700;
  text-transform: uppercase;
}

button:hover {
  background-color: #F87C3D;
  color: #1F1F1F;
  border: #1F1F1F 3.6667px solid;
}



@media (min-width: 1920px) {
  body{
    max-width: 50%;
    margin: auto;
  }
}

.navLogo, .cart {
  cursor: pointer;
}

h1 {
/* font-family: "acumin-pro-condensed", sans-serif;
font-weight: 700; */
font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  font-family: "Impact",sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-family: "acumin-pro-wide",sans-serif;
  font-weight: 400;
  font-style: normal;
}

li {
  opacity: 0.90;
}

li:hover {
  opacity: 1;
}

/*SHOP*/

.containerShop {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 80px;
  background: white;
}

.containerCategoryItems {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}

.numberOfItemsText {
  font-family: 'acumin-pro-wide', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;    
  text-align: center;
}

.categoryAll {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
 justify-content: flex-end;
 gap: 80px;
}

.categoriesLinks {
  font-family: 'acumin-pro-wide', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #1F1F1F;
}


.pageShopImage {
  width: 100%;
  height: 100vh;
  background: url('/img/PageShop.jpg') center center / cover no-repeat;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-items: center;
}

.return, .delivery {
  display: inline-flex;
  column-gap: 5%;
  justify-content: flex-start;
  padding: 5px;
}

/* MENU DROPDOWN */
.menu {
  visibility: hidden;
  transform: translateY(-20px);
  opacity: 0;
  position: absolute;
  top: 100%;
  left: -5%;
  width: 300px;
  background: #1F1F1F;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu li a {
  text-decoration: none;
  padding: 15px 20px;
  display: block;
}

.menu-trigger {
  background-color: #1F1F1F;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 15px;
  vertical-align: middle;
}

.menu-trigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.size {
  display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 15px;
}

.size button {
  width: 55px;
    height: 55px;
    font-size: 1.25rem;
    text-transform: uppercase;
    border-radius: 50px 50px;
    color: #F87C3D;
    background-color: #1F1F1F;
    border: 3.5px solid #F87C3D;
    text-align: center;
    padding: 0;
}

.size button:hover {
  color: #1F1F1F;
  background-color: #F87C3D;
}

