@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Acumin Pro';
}

a {
  color: inherit;
  text-decoration: none;
  font-family: 'Acumin Pro Wide Black';
}

button {
  font-size: 1.5rem;
  font-family: 'Acumin Pro SemiCondensed Black';
  text-transform: uppercase;
  border: 4px solid;
}


* {
  box-sizing: border-box;
}

.navLogo {
  cursor: pointer;
}
